<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <link rel="icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <title>Dragon Ball Z</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="menu">
        <nav>
            <div>
                <img class="logo" src="/img/Logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
<main>
    <div class = "fondo">  
        <h2>Akkuman</h2>
        <div class="personaje" ><img src="\img\Akkuman.png" alt="akkuman"></div>
        <p>Akkuman (アックマン, Akkuman), conocido en español como El demonio o El diablo; fue un gran luchador, y cuarto en la lista de Uranai Baba.</p>
        <p>Frente a Son Goku, no pudo más que quedar como un luchador mediocre, y se vio obligado a usar el Resplandor del Diablo, que hubiera matado a casi cualquiera, incluso a Muten Roshi a pesar de superarlo por mucho en poder. No obstante, Goku era inmune a dicho poder debido a que tenía un corazón puro sin ninguna maldad.</p>
        <h3>
            Biografía
        </h3>
        <p>
            Akkuman también es bicampeón del Tenkaichi Budōkai, Torneo organizado por la misma Uranai Baba. Este demonio combate contra Son Goku en el cuarto combate cuando este intenta conseguir que Baba le diga donde se encuentra la última Esfera del Dragón, ya que no aparece en el radar
        </p>
        <p>
            Akkuman trata de atacar a Goku directamente, pero Goku demuestra superarlo por mucho en poder hasta que se ve obligado a usar el Resplandor del Diablo, pero no da efecto en Goku y este lo derrota mostrando su verdadero poder en una patada.
        </p>
        <h3>
            Poder
        </h3>
        <p>
            Posee una poderosa técnica especial, el Resplandor del Diablo. Esta técnica le permite encontrar cualquier maldad en el corazón de su adversario, y hacerla aumentar hasta que su corazón estalle. Akkuman utiliza esta técnica contra Son Goku y obviamente falla, ya que Goku posee un corazón puro de bondad, lo que le permite montar la Nube Voladora.
        </p>
        <p>
            Akkuman también posee cierta destreza con el tridente, al igual que la capacidad de volar (lógicamente). En Dragon Ball Z: Budokai Tenkaichi 3 se muestra una historia paralela donde se enfrenta contra Freeza, Kold y sus soldados.
        </p>
        <p>
            Su nivel de ki sería aproximadamente de 106 unidades de ki, ya que fue derrotado por Goku cuando este poseía 125 unidades. 
        </p>
        <h3>Técnicas</h3>
        <ul class="lista">
            <li>Hikou: <p> Habilidad que le permite poder volar mediante el uso de sus alas.</p></li>
            <li>Materialización Mágica: <p> La habilidad mágica de crear objetos de la nada. Él lo utiliza para crear un tridente para su pelea con Goku.</p></li>
            <li>Tridente Frenético: <p> Akkuman hace aparecer un tridente y con él da rápidos golpes al oponente.</li>
            <li>Resplandor del Diablo: <p> Este es su ataque más poderoso y también el más devastador. Kame-Sen'nin dijo que este ataque es una fuerza del mal inimaginable, dijo que ha destruido más vidas que cualquier guerra o la peste combinado. Tomando la forma de un láser de color de rosa en espiral despedido de sus dedos, el rayo amplifica cualquier pensamiento oscuro (la ira, la malicia, la agresividad, la arrogancia, etc) y la convierte en pura energía negativa, que se expande en el cuerpo de la víctima hasta que su corazón explota. Sin embargo, la técnica se vuelve totalmente inútil si la persona posee un corazón puro sin un solo pensamiento negativo, ya que no hay nada para la viga para ampliar y explotar.</p></li>
            <li>Kaikosen: <p> Un ataque de energía mística que se dispara de sus manos, que atrapa al oponente en energía eléctrica, paralizando temporalmente. Akkuman puede utilizar esta técnica antes de disparar el Resplandor del Diablo, para garantizar un impacto directo.</p></li>
        </ul>

    </div>
    
</main>
<footer>
    <section>
        <article>
            <h5>Inicio</h5>
        </article>
        <article>
            <h5>Contacto</h5>
            <p>maria.e.dominguez.97@gmail.com</p>
        </article>
    </section>
</footer>
</body>

</html>