<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <link rel="icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <title>Dragon Ball Z</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="menu">
        <nav>
            <div>
                <img class="logo" src="/img/Logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
<main>
    <div class = "fondo">  
        <h2>Androide 19</h2>
        <div class="personaje" ><img src="\img\Androide_19.png" alt="androide 19"></div>
        <p>El Androide #19 (人造人间19号, Jinzoningen Jū Kyu-Gō) es calculador y servicial, fue creado por el Dr. Gero para acabar principalmente con Son Gokū y llevar a cabo sus maléficos planes.</p>
        <h4>Creación</h4>
        <p>Fue modelado a base de una muñeca decorativa del centro de comando de la base enemiga la cual el Dr. Gero llevaría a su casa como trofeo</p>
        <h3>
            Biografía
        </h3>
        <p>
            Acompañó al Dr. Gero y él fue el que ayudó a Gero a convertirse en un androide, que sería el Androide 20, puesto que él fue su androide más fiel. Su primer intento de causar el terror fue en una ciudad del sur junto con el Dr Gero (A-20). Él muestra un alto poder destructivo, para la desgracia de algunos habitantes y parte de la ciudad (incluyendo Yamcha el cual el A-20 dejó al borde de la muerte). Ni la llegada de los Guerreros Z supuso un problema ya que derrotó a Goku con demasiada facilidad dado que este había sufrido un problema cardíaco. A-19 aprovechó la enfermedad de Goku para absorber su energía y derrotarle, esta característica le diferenciaba esencialmente de "sus hermanos" A-16, A-17 y A-18; para llegar al máximo nivel de poder absorbía con las manos la energía de sus rivales e incluso los ataques energéticos.
        </p>
        <p>
            Cuando Goku sufrió la enfermedad cardíaca de la que le había advertido el Trunks del futuro, el A-19 lo dejó fuera de combate, pero de repente apareció Vegeta, que se acabó de transformar en Super Saiyan para sorpresa de todos, #19 pidió al Doctor Gero enfrentarse a este.
        </p>
        <p>
            Durante la batalla Vegeta se dejó agarrar para saber por donde absorbían la energía. Cuando descubrió que la absorbía por la palma de la mano, se las arrancó y las aplastó con el pie. Lleno de desesperación, #19 intentó huir, pero Vegeta hizo su nueva técnica, el Ataque Big Bang que lo destruyó finalmente.
        </p>
        <h4>Dragon Ball GT</h4>
        <p>En el saga de Súper 17 de Dragon Ball GT escapa del infierno junto con otros villanos, se aprecia destruyendo una ciudad junto con Pui Pui, pero Goten y Trunks lo destruyeron de nuevo con la misma energía en que lo había derrotado Vegeta, siendo enviado de nuevo al infierno.</p>
        <h3>Técnicas</h3>
        <ul class="lista">
            <li>Absorción de Energía: <p>Habilidad de absorber la energía de un adversario con las palmas de sus manos.</p></li>
            <li>Sumidero de Vida 19: <p>El usuario toma por la cara al oponente y le absorbe su energía, luego lo ataca gravemente.</p></li>
            <li>Acometida de Potencia: <p>El usuario lanza una combinación de golpes y patadas, luego lo golpea con ambas manos en su cabeza fuertemente.</p></li>
            <li>Cabezazo: <p>Ataque físico en el cual se golpea con la cabeza al enemigo.</p></li>
            <li>Dolor Cibernético: <p>Ataque físico donde lanzan varias patadas y puñetazos, terminando con un golpe con ambas manos y una fuerte patada.</p></li>
            <li>Falso Coraje: <p>Blast 1 del Androide Número 19</p></li>
            <li>Hikou: <p>Capacidad de volar sin el uso del Ki.</p></li>
            <li>Modo Scan 3D: <p>Característica utilizada por los androides y robots</p></li>
            <li>Onda Fotónica: <p> El usuario extiende sus manos y lanza un poderoso rayo de energía.</p></li>
            <li>Vista Láser: <p>El usuario lanza por sus ojos un rayo de energía.</p></li>
            <li>Castigador Biónico: <p>Variación más poderosa de la Vista Láser.</p></li>
        </ul>

    </div>
    
</main>
<footer>
    <section>
        <article>
            <h5>Inicio</h5>
        </article>
        <article>
            <h5>Contacto</h5>
            <p>maria.e.dominguez.97@gmail.com</p>
        </article>
    </section>
</footer>
</body>

</html>