<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <link rel="icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <title>Dragon Ball Z</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="menu">
        <nav>
            <div>
                <img class="logo" src="/img/Logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
<main>
    <div class = "fondo">  
        <h2>Androide 16</h2>
        <div class="personaje" ><img src="\img\Androide16.png" alt="androide16"></div>
        <p>El Androide Número 16 (人造人間16号, Jinzōningen Jūrokugō), conocido como Número 16, es un personaje que aparece en el manga y anime de Dragon Ball Z. Fue uno de los androides creados por el Dr. Gero que tenían como objetivo asesinar a Son Goku. El Androide 16 era totalmente cibernético, pero defectuoso, debido a que no quería hacer daño a las personas ni a la naturaleza.</p>
        <h3>
            Biografía
        </h3>
        <h4>Creacion y concepto</h4>
        <p>
            Fue creado por el Dr. Gero basándose en Gebo, cuyo nombre en clave era "Gold", su hijo que murió tras recibir una bala del enemigo.
        </p>
        <h4>Apariencia</h4>
        <p>
            Este androide tenia el doble de estatura comparado con los otros androides, además de poseer una fuerza física y un poder muy elevado. En la apariencia física, Número 16 tenia un cabello y cejas pelirrojas, acompañados de unos ojos azules. Su vestimenta se basa en un traje completamente negro por debajo de una armadura verde con numerosas protuberancias en las hombreras y en el cuello, además de poseer el logotipo del Ejército del Listón Rojo en el lado izquierdo de su chaleco, el cual es cambiado después de que el Dr. Brief lo repara, quien lo parchea por el logo de la Corporación Cápsula.
        </p>
        <p>
            Dentro de su cuerpo esconde una poderosa bomba con la que pretendía asesinar a Goku como último recurso; pero luego fue retirada por Bulma y el Dr. Brief.
        </p>
        <h4>Personalidad</h4>
        <p>Se caracterizó por ser un androide tranquilo y pacifista, amaba la naturaleza, a los seres vivos y a las plantas, a pesar de que su aspecto y su falta aparente de emociones humanas lo convierten en una amenaza para los seres humanos, Número 16 comparte algunas similitudes con el androide número 8 (una creación del Dr. Gero que también fue un fracaso), ya que era un androide muy gentil y amistoso. Con los otros personajes se comportaba de forma gentil y cortes, salvo con Son Goku ya que su programación le ordenaba que debía eliminarlo, por lo que se dirigía a él con completa frialdad.</p>
        <h4>Poder</h4>
        <p>Su poder era suficiente para poder hacerle frente a Cell en su forma Imperfecta, pero no fue un problema para Cell al alcanzar su forma Semi-Perfecta.</p>
    </div>
    
</main>
<footer>
    <section>
        <article>
            <h5>Inicio</h5>
        </article>
        <article>
            <h5>Contacto</h5>
            <p>maria.e.dominguez.97@gmail.com</p>
        </article>
    </section>
</footer>
</body>

</html>