<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <link rel="icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <title>Dragon Ball Z</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="menu">
        <nav>
            <div>
                <img class="logo" src="/img/Logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
<main>
    <div class = "fondo">  
        <h2>Androide 8</h2>
        <div class="personaje" ><img src="\img\Androide8.png" alt="androide8"></div>
        <p>El Androide Número 8 (人造人間８号, Jinzōningen Hachi-Go) (también conocido en Hispanoamérica como "Octavio", en España como "Super 8", y en su doblaje original, Goku lo llamaba "Hatchan"), fue creado como una de las armas secretas de la Red Ribbon, A-8 era un androide construido por el Dr. Gero y el Dr. Flappe para ocuparse de la seguridad de la Torre del músculo, en sus últimos niveles.Tenía una fuerza muy superior a la de un humano corriente, y su tamaño y su físico parecían en principio algo muy aterradores.</p>
        <h3>
            Biografía
        </h3>
        <p>
            Fue activado por el Ninja Murasaki como última alternativa debido a que perdió en su combate contra Goku. Sin embargo, se encontró con la sorpresa de que A-8 era un androide extremadamente pacifista al que no le apetecía usar su fuerza para hacerle daño a nadie, y se negó a pelear contra Son Goku. De hecho, estaba acostumbrado a recibir el menosprecio de quienes le rodeaban, por su aspecto, y por considerarle un simple objeto, y luego de ver a Goku, un niño que le aceptaba tal y como era y que respetaba profundamente su deseo de encontrar la paz, Número 8 decidió traicionar a sus creadores y apoyar a Goku en su causa.
        </p>
        <p>
            Sólo al final de la aventura de Goku el Androide 8 mostró un mínimo de violencia, cuando vio que el General White hería gravemente a Goku, por lo que lo elimina de un sólo golpe. Terminada la aventura, A-8 fue aceptado para vivir en la Aldea Jingle, el pueblo de Suno, lugar donde viviría junto al alcalde.
        </p>
        <p>
            Por desgracia no todo terminó ahí, dado que descubrieron que el Androide Número 8 tenía una bomba instalada en su interior, preparada para explotar si se volvía en contra de la Patrulla Roja. Finalmente, una acertada intervención quirúrgica por el Dr. Flappe acabó con la amenaza de su interior, y Número 8 pudo quedarse a vivir felizmente con Suno y los demás.
        </p>
        <h4>Dragon Ball Z y Dragon Ball GT</h4>
        <p>En la llegada de Piccolo Daimaō, Número 8 tiene una breve aparición en la que salva y cuida a Suno, Después de que Piccolo fue derrotado, se ve que Número 8 y Suno ya sabían que fue Goku.</p>
        <p>
Poco se volvió a saber después de Número 8, salvo por el hecho de que siempre llevó a Goku en el corazón y siempre estuvo dispuesto para ayudarle a crear la Genkidama cuando el destino de La Tierra dependió de ello en su batalla contra Pequeño Buu. En Dragon Ball GT aparece junto a Suno cuando Goku transporta a todos hacia el Planeta Tsufur.
        </p>
        <h3>Técnicas</h3>
        <ul class="lista">
            <li>Ataque de Ocho</li>
            <li>Cólera de Ocho</li>
            <li>Aullido</li>
            <li>¡Has Herido a Goku!</li>
        </ul>

    </div>
    
</main>
<footer>
    <section>
        <article>
            <h5>Inicio</h5>
        </article>
        <article>
            <h5>Contacto</h5>
            <p>maria.e.dominguez.97@gmail.com</p>
        </article>
    </section>
</footer>
</body>

</html>