<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <link rel="icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <title>Dragon Ball Z</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="menu">
        <nav>
            <div>
                <img class="logo" src="/img/Logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="personajes.html">Personajes</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>
<main>
    <div class = "fondo">  
        <h2>Bardock</h2>
        <div class="personaje" ><img src="\img\Bardock.png" alt="Bardock"></div>
        <p>Bardock (バーダック, Bādakku), también llamado Barduck[1][2][3], es un saiyano de clase baja proveniente del Planeta Vegeta del Universo 7. Pertenece al Ejército Saiyano, que está bajo el liderazgo del Rey Vegeta, y es jefe de su escuadrón bélico durante la anexión del planeta por parte de las fuerzas coloniales del Imperio de Freeza. Él es el esposo de Gine y padre biológico de Kacarrot y Raditz.</p>
        <p>Originalmente, en una de sus conquistas recibiría un golpe de un guerrero del Planeta Kanassa que le permitió ver el futuro y con ello descubrir los planes malvados de Freeza tras presenciar la muerte de su escuadrón a manos de la Élite de Doduria, de tal manera que se rebela contra el malvado emperador y de forma solitaria se adentra en una batalla, intentando cambiar el curso del destino de su raza. No obstante, en Dragon Ball Minus: El éxodo del niño elegido por el destino, él fue ordenado volver a su planeta natal sin motivo alguno, empezando a sospechar. Al llegar, sospecha de los posibles planes malvados del emperador, por lo que envía a Kacarrot, que tiene 3 años de edad, a un planeta lejano para luego luchar contra Freeza. Sin embargo, terminaría en su muerte y en el exterminio de su raza, con la tranquilidad de haber mandado a su hijo recién nacido, Kacarrot a un lugar seguro.</p>
        <p>Bardock hace su primera aparición como el protagonista principal del episodio especial de televisión de Dragon Ball Z: Una solitaria batalla final - Quien desafió a Freeza, el padre del Guerrero Z Son Goku -. También es visto en una breve aparición en el manga original de Dragon Ball[27] y en recuerdos en el episodio 86 del Arco de Freeza del anime Dragon Ball Z y al inicio de la película Dragon Ball Z: Los increíblemente más poderosos contra el más poderoso, en todas ellas rememorando su confrontamiento con Freeza en la órbita del Planeta Vegeta antes de su destrucción. Sin embargo su primera aparición en la nueva continuidad de Dragon Ball es como el personaje principal de Dragon Ball Minus, capítulo extra del manga de Jaco el Patrullero Galáctico, y que debuta como un personaje secundario en la película de Dragon Ball Super: Broly.</p>
        <h3>
            Biografía
        </h3>
        <h4>Etimología</h4>
        <p>
            Su nombre proviene de la modificación de las sílabas de burdock, palabra inglesa que se traduce al español como "bardana", una hierba y especie vegetal comestible. El anglicismo de dicha planta en japonés es escrito como bādokku (バードック, bādokku), pero el nombre del personaje se escribe como Bādakku (バーダック, Bādakku).
        </p>
        <p>
            Los miembros principales de la familia de Bardock poseen nombres basados en hortalizas de raíz, por ejemplo: zanahoria (Kacarrot), rábano (Raditz) y cebolla (Gine), lo que se relaciona con el origen del sistema de nombres saiyano, quienes tienen nombres provenientes de especies de vegetales.
        </p>
        <h4>Apariencia</h4>
        <p>
            Es muy parecido a su hijo Kacarrot, siendo una de las diferencias que este posee dos cicatrices en su cuerpo, una con forma de "x" en su rostro y otra delgada adicional que forma horizontalmente una línea a través de su bíceps derecho. Otra diferencia son sus ojos, con Bardock teniendo unos más afilados que su hijo en comparación. Es un saiyano de piel caucásica, de un tono más oscuro que el de sus hijos, posee una contextura musculosa y estatura promedio. Con respecto a su pelo, su cabello es de color negro con puntas, el cual consiste en tres mechones colgando a la derecha de su frente y dos colgando a la izquierda, también se levanta en la frente con cuatro picos y tres mechones por detrás, además, al igual que todos los saiyanos de raza pura del Universo 7, Bardock posee una cola, la cual deja suelta la mayor parte del tiempo.
        </p>
        <p>En Dragon Ball Minus: El éxodo del niño elegido por el destino y la película Dragon Ball Super: Broly, Bardock usa una armadura de combate de color verde amarillo con hombreras de delineado blanco, pantalones elásticos de spandex de color azul oscuro, brazaletes/muñequeras azul klein y botas blancas con punta amarilla delineada.</p>
        <p>Mientras tanto, en Dragon Ball Z y Dragon Ball: Episodio de Bardock, viste una armadura verde, que tiene dos aletas de protección a los costados, junto con espinilleras y brazaletes de color rojo. Además, lleva un rastreador de color verde en su ojo izquierdo y, más tarde, empezaría a utilizar un pañuelo en su frente, el cual se teñiría de rojo luego de empaparse con la sangre de Toma.</p>
        <p>En el diseño original, creado por Katsuyoshi Nakatsuru, él presentaba una cicatriz más larga y su cabello más erizado, con una armadura similar a la de Minus y de la película pero con 4 aletas en la cintura, muñequeras rojas y botas amarillas y negras.</p>
        <h4>Personalidad</h4>
        <p>Muestra rasgos típicos de la personalidad que caracteriza a los saiyanos. Es bélico, pero en vez de ser frío y de pensamientos simples, Bardock posee un juicio sereno y una pequeña porción de humanidad. Debido a su relación de amistad con sus compañeros, lo que es raro en un miembro de su raza, él es muy adorado y venerado entre una parte de los guerreros de clase baja.[15]</p>
        <p>En el especial de televisión y en el OVA, se lo ve un poco engreído, le fascina pelear y asesinar a sangre fría. Su personalidad es relajada y temeraria, demostrándolo cuando acepta misiones que dejan sorprendidos incluso a los soldados fuertes de Freeza o como cuando decide luchar contra el tirano él solo. También demuestra ser un estratega muy capaz en batalla, capaz de analizar el momento y sacar ventaja de ella. No suele hablar ni preocuparse mucho de sus hijos, solamente cuando el nacimiento de Kacarrot fue tema de conversación en su pelotón o luego de tener el don de las premoniciones. En el manga de Dragon Ball: Episodio de Bardock, él se muestra más social, a diferencia con la película, donde se relaciona de forma más abierta con Berry, aunque también demuestra ser un poco terco como cuando le ofrecen comida y él se niega, incluso teniendo hambre. Sin embargo luego se vuelve más amigable.</p>
        <p>Sin embargo, en Dragon Ball Minus, logró formar un lazo amoroso con su pareja sin ser únicamente una conexión con fines únicamente reproductivos, siendo uno de los pocos de su raza de corazón gentil que lograron crear una relación con el resto de su familia, similar a la vista de la sociedad terrícola, pero considerado raro para el Planeta Vegeta. Demuestra una actitud más social y empática con el resto de los saiyanos, como cuando saluda a otros miembros de su raza cuando llega a su planeta natal. Muestra un gran afecto hacia su hijo pequeño, Kacarrot, salvándolo de la destrucción del planeta y extinción de su raza, acto que admite que realiza debido a que se contagió de la personalidad amable de Gine. Bardock es famoso por su valentía, incluso entre los saiyanos. Esto lo demuestra cuando vio su muerte inminente y decide quedarse y luchar hasta el final en vez de huir.</p>
    </div>
    
</main>
<footer>
    <section>
        <article>
            <h5>Inicio</h5>
        </article>
        <article>
            <h5>Contacto</h5>
            <p>maria.e.dominguez.97@gmail.com</p>
        </article>
    </section>
</footer>
</body>

</html>