<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <link rel="icon" href="/img/esferaDelDragon.png" type="image / x-png">
    <title>Dragon Ball Z</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="menu">
        <nav>
            <div>
                <img class="logo" src="/img/Logo.png" alt="Logo">
            </div>
            <ul>
                <li><a href="/">Inicio</a></li>

                <li><a href="personajes.html">Personajes</a>
                        </li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="contacto.html">Contacto</a></li>

            </ul>
        </nav>
    </header>

    <main>
        <div class="fondo">
         <h2>Personajes de Dragon Ball Z</h2>
         <section>
             <h3>A</h3>
             <ul>
                <li><a  href="akkuman.html">Akkuman</a></li>
                <li><a  href="androide8.html">Androide 8</a></li>
                <li><a  href="androide16.html">Androide 16</a></li>
                <li><a  href="androide17.html">Androide 17</a></li>
                <li><a  href="androide18.html">Androide 18</a></li>
                <li><a  href="androide19.html">Androide 19</a></li> </ul>
         </section>
         <section>
              <h3>B</h3>
              <ul>
                <li><a  href="badidi.html">Badidi</a></li>
                <li><a href="bardock.html">Bardock</a></li>
                <li><a href="beerus.html">Beerus</a></li>
                <li><a href="bra.html">Bra</a></li>
                <li><a href="bulma.html">Bulma</a></li>
            </ul>
         </section>
         <section>
             <h3>C</h3>
             <ul>
                <li><a href="">C-6</a></li>
                <li><a href="">Capitan de la nave del gran Rey Kold</a></li>
                <li><a href="">Cargot</a></li>
                <li><a href="">Carony</a></li>
                <li><a href="">Cell</a></li>
                <li><a href="">Cell Jr.</a></li>
                <li><a href="">Chao</a></li>
                <li><a href="">Chaoz</a></li>
                <li><a href="">Chapuchai</a></li>
                <li><a href="">ChiChi</a></li>
                <li><a href="">Chopsui</a></li>
                <li><a href="">Cocodrilo</a></li>
                <li><a href="">Coora</a></li>
                <li><a href="">Cranberri</a></li>
            </ul>
         </section>
         <section>
             <h3>D</h3>
             <ul>
                <li><a href="">Daiz</a></li>
                <li><a href="">Darbra</a></li>
                <li><a href="">Den-Goku</a></li>
                <li><a href="">Dende</a></li>
                <li><a href="">Dodoria</a></li>
                <li><a href="">Dr. Brief</a></li>
                <li><a href="">Dr. Gero</a></li>
                <li><a href="">Drum</a></li>
            </ul>
         </section>
         <section>
             <h3>E</h3>
             <ul>
                <li><a href="">Eel</a></li>
                <li><a href="">Esca</a></li>
            </ul>
         </section>
         <section>
             <h3>F</h3>
             <ul>
                <li><a href="">Fisch</a></li>
                <li><a href="">Freezer</a></li>
            </ul>
         </section>
         <section>
             <h3>G</h3>
             <ul>
                <li><a href="">Garlick</a></li>
                <li><a href="">Gasshu</a></li>
                <li><a href="">Ghurd</a></li>
                <li><a href="">Ginyu</a></li>
                <li><a href="">Gohan</a></li>
                <li><a href="">Goku</a></li>
                <li><a href="">Gonmah</a></li>
                <li><a href="">Gotan</a></li>
                <li><a href="">Gotenks</a></li>
                <li><a href="">Goz</a></li>
                <li><a href="">Gran Kaio-sama</a></li>
                <li><a href="">Gran Kaio-shin</a></li>
                <li><a href="">Gran Patriarca Dokkan</a></li>
                <li><a href="">Gyosan Money</a></li>
            </ul>
         </section>
         <section>
             <h3>H</h3>
             <ul>
                <li><a href="">Hildegarn</a></li>
            </ul>
         </section>
         <section>
             <h3>I</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         <section>
             <h3>J</h3>
             <ul>
                <li><a href="">Janemba</a></li>
                <li><a href="">Jheese</a></li>
            </ul>
         </section>
         <section>
             <h3>K</h3>
             <ul>
                <li><a href="">Kaio del Este</a></li>
                <li><a href="">Kaio del Norte</a></li>
                <li><a href="">Kaio del Oeste</a></li>
                <li><a href="">Kaio del Sur</a></li>
                <li><a href="">Kaio-shin Anciano</a></li>
                <li><a href="">Kaio-shin del Norte</a></li>
                <li><a href="">Kaio-shin del Oeste</a></li>
                <li><a href="">Kaio-shin del Sur</a></li>
                <li><a href="">Kamisama</a></li>
                <li><a href="">Karin</a></li>
                <li><a href="">Katatz</a></li>
                <li><a href="">Kibito</a></li>
                <li><a href="">Kibitoshin</a></li>
                <li><a href="">Killerno</a></li>
                <li><a href="">Krilin</a></li>
                <li><a href="">Krumbo</a></li>
                <li><a href="">Kuiwi</a></li>
            </ul>
         </section>
         <section>
             <h3>L</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         <section>
             <h3>M</h3>
             <ul>
                <li><a href="">Maestro Roshi</a></li>
                <li><a href="">Majin-Boo </a></li>
                <li><a href="">Momia</a></li>
            </ul>
         </section>
         <section>
             <h3>N</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         <section>
             <h3>O</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         <section>
             <h3>P</h3>
             <ul>
                <li><a href="">Padres adoptivos de Piccolo</a></li>
                <li><a href="">Panchy</a></li>
                <li><a href="">Piccolo</a></li>
                <li><a href="">Pilaf</a></li>
            </ul>
         </section>
         <section>
             <h3>Q</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         <section>
             <h3>R</h3>
             <ul>
                <li><a href="">Ranfan</a></li>
                <li><a href="">Rey Demonio Piccolo</a></li>
                <li><a href="">Rey Enma
                    </a></li>
                <li><a href="">Rey Furry</a></li>
                <li><a href="">Rey Kold</a></li>
            </ul>
         </section>
         <section>
             <h3>S</h3>
             <ul>
                <li><a href="">Shen Long</a></li>
                <li><a href="">Slug</a></li>
            </ul>
         </section>
         <section>
             <h3>T</h3>
             <ul>
                <li><a href="">Tenshinhan</a></li>
                <li><a href="">Trunks</a></li>
                <li><a href="">Tullece</a></li>
            </ul>
         </section>
         <section>
             <h3>U</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         <section>
             <h3>V</h3>
             <ul>
                <li><a href="">Vegeta</a></li>
            </ul>
         </section>
         <section>
             <h3>W</h3>
             <ul>
                <li><a href="">Whis</a></li>
                <li><a href="">Woolong</a></li>
            </ul>
         </section>
         <section>
             <h3>X</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         <section>
             <h3>Y</h3>
             <ul>
                <li><a href="">Yajirobe</a></li>
            </ul>
         </section>
         <section>
             <h3>Z</h3>
             <p class="not">No se encontraron resultados</p>
         </section>
         
        </div>
    </main>
    <footer>
        <section>
            <article>
                <h5>Inicio</h5>
            </article>
            <article>
                <h5>Contacto</h5>
                <p>maria.e.dominguez.97@gmail.com</p>
            </article>
        </section>
    </footer>

</body>

</html>